flows.json
[{"id":"7f46393d.a06f88","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e156b8fc.e54368","type":"ui_form","z":"7f46393d.a06f88","name":"","label":"","group":"cf5e1680.b2b6d8","order":1,"width":0,"height":0,"options":[{"label":"Temperature","value":"tm","type":"number","required":true,"rows":null},{"label":"Humidity","value":"hm","type":"number","required":true,"rows":null},{"label":"wind","value":"wd","type":"number","required":true,"rows":null}],"formValue":{"tm":"","hm":"","wd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":300,"wires":[["1a06b157.5df51f","121893d3.7fb70c"]]},{"id":"1a06b157.5df51f","type":"debug","z":"7f46393d.a06f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":380,"wires":[]},{"id":"121893d3.7fb70c","type":"function","z":"7f46393d.a06f88","name":"pre-token","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nvar apikey=\"Ho3jFxsz_GCsi8fFHTmd_7bF_tSe-52gb4JfD2cHQBS2\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":240,"wires":[["81630d13.78f42"]]},{"id":"81630d13.78f42","type":"http request","z":"7f46393d.a06f88","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":472.00000381469727,"y":284.00000286102295,"wires":[["722fadc3.36c584","4dffa77e.18fc78"]]},{"id":"722fadc3.36c584","type":"debug","z":"7f46393d.a06f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":340,"wires":[]},{"id":"4dffa77e.18fc78","type":"function","z":"7f46393d.a06f88","name":"Pre Prediction","func":"var rd = global.get(\"rd\")\nvar ms = global.get(\"ms\")\nvar ad = global.get(\"ad\")\nvar st = global.get(\"st\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"R&D Spend\", \"Administration\", \"Marketing Spend\", \"State\"]],\"values\": [[rd,ad,ms,st]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":664.0000076293945,"y":236.0000021457672,"wires":[["3962340e.2ae05c"]]},{"id":"3962340e.2ae05c","type":"http request","z":"7f46393d.a06f88","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/a0cba5f1-f9d9-4d06-9e59-4070faa61a6b/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":260,"wires":[["12dffccd.71cbf3","24f9f643.433e8a"]]},{"id":"12dffccd.71cbf3","type":"debug","z":"7f46393d.a06f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1042.9999914169312,"y":344.00000381469727,"wires":[]},{"id":"477090da.532af","type":"inject","z":"7f46393d.a06f88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":140,"wires":[["121893d3.7fb70c"]]},{"id":"42bd782e.e1c078","type":"debug","z":"7f46393d.a06f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":873.9999885559082,"y":127.0000057220459,"wires":[]},{"id":"24f9f643.433e8a","type":"function","z":"7f46393d.a06f88","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":719.6000595092773,"y":168.00000190734863,"wires":[["42bd782e.e1c078","1b03f0fb.73977f"]]},{"id":"1b03f0fb.73977f","type":"ui_text","z":"7f46393d.a06f88","group":"cf5e1680.b2b6d8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":837.6000366210938,"y":401.20001220703125,"wires":[]},{"id":"7821df00.44fa","type":"ibmiot in","z":"7f46393d.a06f88","authentication":"apiKey","apiKey":"9923821f.40ebd","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"sensor","applicationId":"","deviceType":"raspberry","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":220,"wires":[["121893d3.7fb70c"]]},{"id":"cf5e1680.b2b6d8","type":"ui_group","z":"","name":"New","tab":"506bace2.86a684","order":1,"disp":true,"width":"6","collapse":false},{"id":"9923821f.40ebd","type":"ibmiot","z":"","name":"New API","keepalive":"60","serverName":"alcox6.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"506bace2.86a684","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]